name: Test Python Application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.10]  # Correct supported Python versions

    steps:

      - name: Show current directory and files
        run: ls -al

      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Show the current directory
        run: pwd

      - name: List all files in the directory
        run: ls -al

      - name: List all files recursively
        run: ls -R
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')
